ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
}

li {
    background-color: #2c3e50;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

li:hover {
    background-color: #3498db;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.number {
    color: #fff;
    font-weight: bold;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #fff7e1; /* Pastel yellow color on link hover */
}

.details {
    display: flex;
    color: #fff;
    font-size: 13px;
    flex-direction: column;
    align-items: flex-end; /* Align points and comments to the right */
    padding-top: 3px; 
    padding-bottom: 3px;
}

.details span {
    margin-right: 10px;
    font-weight: normal;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    /* Blue color */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.load-more-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.load-more-button:hover {
    background-color: #2980b9;
}

.load-more-spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}